.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before, .cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after {
    content: "";
    display: table;
    clear: both
}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col {
    padding: 0 8px
}
.col,.half,.third,.twothird,.threequarter,.quarter {
    float: left;
    width: 100%
}
.col.m4,.third {
    width: 70%
    
}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col {
    padding: 0 8px;
  
  
}
.twothird {
    width: 30%;
    background-color: rgba(22, 31, 28, 0.103);
}
.backgroundblue {
    background-color: #c7dcf4;
    height: 92vh;
    padding-top: 20px !important;
   
    align-items: center;
    position : relative;
    /* Các thuộc tính khác nếu cần thiết */
}
