.resetContainer {
    position: absolute;
    width: 100%; height: 100%;
    background-color: #121212;
    margin: 0; padding: 0;
}
.resetMain {
    background-color:#121212;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 450px;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
}

.resetMain .resetTilte,
.resetMain .content,
.resetMain p,
.resetMain input,
.resetMain .resetBtn {
    position: relative;
    padding: 10px; padding-left: 0;
    border-top: 10px;
    text-align:justify;
}
.resetMain .content {
    font-weight: 300;
}
.resetMain input {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: white solid 0.5px;
    background-color: transparent;
    color: white;
    font-weight: 500;
}
.resetMain .resetBtn {
    text-align: center;
    margin-top: 30px;
    height: 50px; width: 360px;
    left: 2.5%;
    background-color: #1ed760;
}